.footer-container{
  background-color: lightgray;
  display: grid;
  width: 100%;
  height: minmax(20%, 200px);
  grid-template-rows:  1fr 1fr;
}
.location-container{
  /* Need to add the border at the bottom */
}
#uk{
  padding: 2vh 2vw;
}
.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center{
  flex-grow: 1;
}
#carbon-center{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: auto;
}
.right{
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
  flex-grow: 1;
}
.left{
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
  flex-grow: 1;
}
.list-item{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}