.App{
  display: grid;
  grid-template-rows: 10vh 75vh 15vh;
}
.header-container{
  display: flex;
  width: 100%;
  height: minmax(20%, 200px);
  flex-direction: row;
  justify-content: space-between;
}
.header-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center; 
}
.hlist-item{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#blank{flex-grow: 5;}
#a-image{
  border-radius: 50%;
}
#a-image:hover{box-shadow: 0 1px 0 rgb(0 0 0 / 15%);}

.search-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
  align-content: center;
  /* grid-template-rows: 3fr 1fr 2fr; */
}
.search{
  display: flex;
  justify-content: center;
}
.g-img{
  background-color: red;
  flex-grow: 1;
  /* margin: auto; */
  /* height: 100%; */
}
.bar{
  display: flex;
  flex-grow: 1;
  background-color: pink;
  flex-direction: column;
  width: 100%;
  align-items: stretch; 
  justify-content: center;
}
.search-text{
  /* height: 100%; */
  background-color: white;
  flex-grow: 1;
}
.button-link-container{
  background-color: purple;
}
#empty{ 
  background-color: blue;
  flex-grow: 1;
}
#google-img{
  height: 92px;
  width: 272px;
}
.footer-container{
  background-color: lightgray;
  display: grid;
  width: 100%;
  height: minmax(20%, 200px);
  grid-template-rows:  1fr 1fr;
}
.location-container{
  /* Need to add the border at the bottom */
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}
#uk{
  padding: 2vh 2vw;
}
.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center{
  flex-grow: 1;
}
#carbon-center{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: auto;
}
.right{
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
  flex-grow: 1;
}
.left{
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
  flex-grow: 0.5;
}
.list-item{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}